<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>{{configuracao?.capacidadeLitros}}</p>
  <p>{{configuracao?.periodoRepeticao}}</p>
  <p>{{configuracao?.horarioPrevisto}}</p>


  <form [formGroup]="formGroup" (ngSubmit)="update(); $event.preventDefault()">

    <ion-item>
      <ion-label stacked>Capacidade (L)*</ion-label>
      <ion-input formControlName="capacidadeLitros" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.capacidadeLitros.dirty && formGroup.controls.capacidadeLitros.errors" margin-left>Valor inválido</p>

    <ion-list>
      <ion-item>
        <ion-label stacked>Período repetição*</ion-label>
        <ion-select formControlName="periodoRepeticao" >
          <ion-option value="0">Uma vez ao dia</ion-option>
          <ion-option value="1">Três vezes por semana</ion-option>
          <ion-option value="2">Uma vez por semana</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>    
    <p class="danger" *ngIf="formGroup.controls.periodoRepeticao.dirty && formGroup.controls.periodoRepeticao.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked>Horário previsto*</ion-label>
      <ion-datetime displayFormat="h:mm a" pickerFormat="h mm a" formControlName="horarioPrevisto" ></ion-datetime>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.horarioPrevisto.dirty && formGroup.controls.horarioPrevisto.errors" margin-left>Valor inválido</p>
    
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Salvar</button>
  </form>

</ion-content>
