<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding *ngIf="temAquecedor == true && tipo == 'temperatura'">
    <p>
      <button ion-button large color="secondary" icon-start (click)="aquecer();">
        <ion-icon name="bonfire"></ion-icon>
        Aquecer piscina
      </button>
    </p>
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="tipo == 'ph'">
    <ion-item *ngFor="let item of items">

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <h2>Antes: {{item.ph}}</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataLeitura}}</ion-note>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <h2>(+) {{item.phP}} ml</h2>
          </ion-col>
          <ion-col col-3>
            <h2>(-) {{item.phN}} ml</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataTratamento}}</ion-note>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h2>Depois: {{item.ph}}</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataLeitura}}</ion-note>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-item>
  </ion-list>

  <ion-list *ngIf="tipo == 'cloro'">
    <ion-item *ngFor="let item of items">

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <h2>Antes: {{item.condutividade}} ppm</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataLeitura}}</ion-note>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h2>Cloro: {{item.cloro}} ml</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataTratamento}}</ion-note>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h2>Depois: {{item.condutividade}} ppm</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataLeitura}}</ion-note>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-item>
  </ion-list>

  <ion-list *ngIf="tipo == 'turbidez'">
    <ion-item *ngFor="let item of items">

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <h2>Antes: {{item.turbidez}} NTU</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataLeitura}}</ion-note>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h2>Decantador: {{item.decantador}} ml</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataTratamento}}</ion-note>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h2>Depois: {{item.turbidez}} NTU</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataLeitura}}</ion-note>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-item>
  </ion-list>

  <ion-list *ngIf="tipo == 'temperatura'">
    <ion-item *ngFor="let item of items">

      <ion-grid>
        <ion-row *ngIf="!item.temperaturaNovo">
          <ion-col col-6>
            <h2>Temp.: {{item.temperatura}} °C</h2>
          </ion-col>
          <ion-col col-6>
            <ion-note item-end>{{item.dataLeitura}}</ion-note>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.temperaturaNovo">
            <ion-col col-6>
              <h2>Temp.: {{item.temperaturaNovo}} °C</h2>
            </ion-col>
            <ion-col col-6>
              <ion-note item-end>{{item.dataLeituraNovo}}</ion-note>
            </ion-col>
          </ion-row>

      </ion-grid>

    </ion-item>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>